In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('terrorismdata.csv')

In [5]:
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [18]:
x = df["Day"].values

In [19]:
y = {}
for i in x:
    if i in y:
        y[i] += 1
    else:
        y[i] = 1
print(y)

{2: 5954, 0: 891, 1: 6344, 3: 6011, 6: 5781, 8: 5859, 9: 6057, 10: 6064, 11: 5936, 12: 6012, 13: 6043, 14: 6028, 15: 6500, 19: 5973, 20: 5930, 21: 5827, 22: 5799, 25: 5875, 26: 5823, 27: 5937, 28: 6027, 30: 5046, 31: 3095, 4: 6153, 7: 5997, 16: 6112, 17: 5852, 18: 5880, 23: 5782, 24: 5752, 5: 5844, 29: 5507}

In [20]:
df["Day"].value_counts

<bound method IndexOpsMixin.value_counts of 0          2
1          0
2          0
3          0
4          0
          ..
181686    31
181687    31
181688    31
181689    31
181690    31
Name: Day, Length: 181691, dtype: int64>