In [5]:
import pandas as pd

In [9]:
data = pd.read_csv('startup_funding.csv', index_col = 0)
data.head()

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
SNo,,,,,,,,,
0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [10]:
amount = data['AmountInUSD']
amount.head()

SNo
0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [11]:
amount.dropna(inplace=True)
amount.head()

SNo
0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [13]:
amount = amount.str.replace(",", "")
amount.head()

SNo
0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [14]:
amount = pd.to_numeric(amount)
amount.head()

SNo
0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: int64

In [15]:
pop_avg = amount.mean()
pop_max = amount.max()
pop_min = amount.min()
print(pop_avg)
print(pop_max)
print(pop_min)

12031073.099016393
1400000000
16000

In [19]:
#simple random sampling
sample_size = 100
population = amount
population.sample()

SNo
343    330000
Name: AmountInUSD, dtype: int64

In [24]:
sample = population.sample(sample_size, random_state=1)

In [27]:
sample_mean = sample.mean()
sample_max = sample.max()
sample_min = sample.min()
print(pop_avg, sample_mean, abs(pop_avg - sample_mean))
print(pop_max, sample_max, abs(pop_max - sample_max))
print(pop_min, sample_min, abs(pop_min - sample_min))

12031073.099016393 24592930.0 12561856.900983607
1400000000 1400000000 0
16000 18000 2000