In [15]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_csv('startup_funding.csv', encoding = 'utf-8')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [56]:
data["CityLocation"].replace('bangalore', 'Bangalore', inplace = True)
data["CityLocation"].replace('Delhi', 'New Delhi', inplace = True)

In [57]:
data = data[data['AmountInUSD'].notna()]

In [58]:
data['AmountInUSD'] = data['AmountInUSD'].str.replace(",", "")

In [59]:
data['AmountInUSD'] = pd.to_numeric(data['AmountInUSD'])

In [48]:
data['AmountInUSD'].dropna(inplace = True)

In [60]:
data_Mumbai = data[data['CityLocation'] == 'Mumbai']
# data_Mumbai.dropna(inplace=True)
data_Mumbai

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000,NaN
10,10,05/07/2017,Timesaverz,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,1000000,NaN
17,17,11/07/2017,Flickstree,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,464000,NaN
46,46,28/07/2017,BigStylist,Consumer Internet,Beauty Services Marketplace,Mumbai,Info Edge (India) Ltd,Private Equity,1250000,NaN
50,50,05/06/2017,Goomo,Consumer Internet,Online Travel & Holiday Booking platform,Mumbai,Emerging India,Private Equity,50000000,NaN
...,...,...,...,...,...,...,...,...,...,...
2167,2167,16/04/2015,Taskbob,OnDemandMobile Handyman Services,NaN,Mumbai,"Orios Venture Partners, Mayfield India",Seed Funding,1200000,NaN
2179,2179,23/04/2015,Craftstvilla,Ethnic Product eCommerce,NaN,Mumbai,"Sequoia Capital, Nexus venture Partners, Light...",Private Equity,18000000,Series B
2185,2185,24/04/2015,Coverfox,Online Insurance Aggregator,NaN,Mumbai,"Accel US, Accel India, SAIF Partners.",Private Equity,12000000,Series B
2187,2187,27/04/2015,Grab,Food Logistics & Delivery,NaN,Mumbai,"Oliphans Capital, Haresh Chawla",Seed Funding,1000000,NaN
2193,2193,28/04/2015,Naaptol.com,Tele-Shopping / eCommerce,NaN,Mumbai,Mitsui & Co & existing investors,Private Equity,21500000,Series C